#loginPane {
    -fx-background-color: linear-gradient(#FFB600, #FF8500 ,#FF6D00, #FF5400);
}

#windowsBar{
    -fx-background-color:  #57606f;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

#windowsBar .FontAwesomeIconView:hover  {
    -fx-cursor: hand;
}

.login-window-buttons {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.login-window-buttons:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.login-window-buttons:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.login-window-buttons Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.button-logout{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em;
    -fx-text-fill: #828282;
}

.button-logout:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button-logout:pressed {
    -fx-background-color: transparent, #9d4024;
    -fx-text-fill: white;
}

.login-text-fields {
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-color: #FFB600, #FF9E00;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 20;
}

.login-text-fields:focused {
    -fx-background-color: #FF9100;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}